[Unit]
Description=sound restart

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/home/ati/ati_snd_init.sh
Type=simple
User=ati
Group=ati
Restart=on-failure
RemainAfterExit=true
