[Unit]
Description=Play sound at boot
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/aplay /home/ati/beep.wav

[Install]
WantedBy=multi-user.target
